@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html { font-size: 10px; }

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f0eaff;
  font-size: 1.6rem;
  /* Background color for if not 100% operational */
  /* background-color: rgb(236, 176, 167); */
}

.logo-container {
  width: 13%;
  height: auto;
  fill: #d52b1e;
  margin-top: 0.5rem;
}

h1 {
  margin-top: 0;
  font-size: 5rem;
}

h3 {
  text-align: center;
  margin: 0.3em;
  font-size: 2rem;
}

a:visited { color: inherit; }

span { font-size: 1.8rem; }

.mui-icon { vertical-align: middle; }

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "salesforce-status heroku-status artifactory-status"
    "github-status github-status github-status"
    "contentful-status contentful-status contentful-status";

  margin: 0 1em;
}

.product-container {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h3 {
  display: flex;
  align-items: center;
}

header h3:last-child { margin-bottom: 0.5em; }

header p { font-size: 2.5rem; }

.status { padding: .5em; }

.heroku-status,
.github-status,
.contentful-status,
.salesforce-status,
.artifactory-status {
  display: flex;
  margin: 0.7em;
  max-width: 100%;
  flex-direction: column;
  box-shadow: 5px 5px 15px -7px #000000;
}

.salesforce-status { grid-area: salesforce-status; }
.heroku-status { grid-area: heroku-status; }
.artifactory-status { grid-area: artifactory-status; }
.github-status { grid-area: github-status; }
.contentful-status { grid-area: contentful-status; }

.contentful-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentful-container:first-child { padding-right: 3em; }

.contentful-container:last-child { margin-top: 0.5em; }