@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f0eaff;
  font-size: 1.2rem;
}

.flexContainer {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header h3 {
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
  padding: .5rem 0;
}

.currentHerokuStatus,
.currentGithubStatus,
.currentContentfulStatus,
.currentSalesforceStatus,
.currentArtifactoryStatus {
  display: flex;
  margin: 1rem 2rem;
  max-width: 25rem;
  flex-direction: column;
  align-items: flex-start;
}